---
const { number_of_pages, url, ...rest } = Astro.props;
console.log(number_of_pages)
---

<iframe
    class:list={["w-full", "md:w-[90vw]", "lg:w-[65vw]", "max-w-[810px]", "aspect-" + number_of_pages + "xA4"]}
    src={url}
    {...rest}
    >Reload the page or use another browser to view my resume...</iframe
>
<div class={`aspect-${number_of_pages}xA4 hidden`}></div>